/* Estilos para el margen entre el icono y el texto */
.list-unstyled-usuario li {
    display: flex;
    /* Para alinear el icono y el texto en línea */
    align-items: center;
    /* Para centrar verticalmente el icono y el texto */
    margin-bottom: 10px;
    /* Margen inferior entre elementos de la lista */
    transition: all 0.3s ease;
    /* Efecto de transición para cambios al hacer hover */
}

/* Estilos para el icono SVG */
svg {
    fill: #464646;
}

/* Estilos para el texto */
.list-unstyled-usuario span {
    color: #464646;
    font-size: 25px;
}

.list-unstyled-usuario li a:hover {
    cursor: pointer;
    text-decoration: none;
    /* Color de fondo cuando se hace hover */
}

.list-unstyled-usuario li svg {
    margin-right: 10px;
    /* Margen a la derecha del icono */
    transition: all 0.3s ease;
    /* Efecto de transición para cambios al hacer hover */
}

.list-unstyled-usuario li:hover svg {
    fill: black;
    /* Color del icono al hacer hover */
}

.list-unstyled-usuario li span {
    transition: all 0.3s ease;
    /* Efecto de transición para cambios al hacer hover */
}

.list-unstyled-usuario li:hover span {
    color: black;
    /* Color del texto al hacer hover */
}

.tamañoL-card {
    font-size: 13px;
}

/*Targeta de credito*/
