/* HEADER */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.navbar .links a:hover {
    color: red;
}

header {
    position: relative;
    padding: 0 2rem;
    background-color: #fff; 
}

.navbar {
    width: 100%;
    height: 120px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    margin-right: 10px; /* Ajusta el margen derecho según tus preferencias para reducir el espacio */
}

.navbar .links{
    display: flex;
    gap: 2rem;
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.navbar .toggle_btn {
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: red;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.action_btn:hover {
    transform: scale(1.05);
    color: #fff;
}

.action_btn:active {
    transform: scale(0.95);
}

.navbar .logo-link {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    width: 100px; /* Ajusta el ancho de la imagen del logo según tus preferencias */
    height: auto;
    transition: transform 0.2s;
}

.navbar .logo-link {
    display: flex;
    align-items: center;
    flex: 0; /* Cambiar de "flex: 1;" a "flex: 0;" para limitar el espacio */
}

.navbar .logo img:hover {
    transform: scale(1.2); /* Ajusta el valor según el nivel de zoom deseado */
}

/* Dropdown Menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(103, 4, 4, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 999; /* Establece un valor alto en z-index para que el dropdown menu aparezca por encima de otros elementos */
}

.dropdown_menu.open {
    height: 360px;
    position: absolute;
    top: 100%;
    z-index: 9999; /* Asegúrate de que el z-index sea mayor que el valor de z-index de la navbar */
} 

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu a {
    color: white;
}

.dropdown_menu a:hover {
    color: red;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Responsive Design */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

  /*Arriba*/
  .btn-scrolltop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    background: #b12a5b;
    color: #000;
    border: 1px solid #000;
    border-radius: 100%;
    cursor: pointer;
    transform: translateY(100px);
    transition: 0.3s;
    z-index: 9999;
  }
  
  .btn-scrolltop-on {
    transform: translateY(0);
  }