@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

h1 {
  color: #000; /* Establecer el color de texto en negro para los h1 */
}

body{
    background-color: #F5F5F5;
}

.header{
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #2F2F30;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #ffbc0e;
}

.header .btn button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

.video-background {
  position: relative;
  width: 100%;

  padding-bottom: 40%;
  /* Relación de aspecto 16:9 (9 dividido por 16) */
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay{
  position: absolute;
  width: 100%;
}
.overlay-1 {
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Color y opacidad del overlay */
}

.content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  /* Estilos adicionales para el contenido */
  width: 70%;
  /* Ancho del contenido */
  max-width: 600px;
  /* Ancho máximo del contenido */
  padding: 20px;
  /* Espaciado interno del contenido */
  color: #fff;
  /* Color del texto */
}

@media (max-width: 768px) {
  .content {
      width: 90%;
      /* Reducir el ancho del contenido en dispositivos móviles */
      max-width: none;
      /* Remover el ancho máximo del contenido */
  }
}

.card {
  width: 300px;

  /* Agrega otros estilos según tus preferencias */
}

.btn-video {
  background-color: #dc3545;
  /* Color de fondo */
  color: white;
  /* Color del texto */
  border-radius: none;
  /* Borde rectangular */
  padding: 10px 20px;
  /* Espaciado interno */
  text-transform: uppercase;
  /* Convertir texto en mayúsculas */
  transition: background-color 0.3s ease;
  /* Transición suave al cambiar el color de fondo */

  /* Agrega otros estilos según tus preferencias */
}

.btn-video:hover {
  background-color: #c82333;
  /* Color de fondo al pasar el cursor sobre el botón */
}

.custom-list {
  list-style-type: none;
  /* Quitar viñetas/bullets de la lista */
  padding: 0;
  /* Quitar espaciado interno */
}

.custom-list li {
  padding: 10px;
  /* Espaciado interno */
}

.custom-list li a {
  color: white;
  /* Color del texto */
  text-decoration: none;
  /* Quitar subrayado del enlace */
}

.custom-list li a:hover {
  text-decoration: underline;
  /* Subrayar el enlace al pasar el cursor sobre él */
}

.p-z {
  font-size: 14px;
  color: white;
  /* Tamaño de fuente más pequeño para párrafos */
}

.h2-z {
  font-size: 18px;
  color: white;
  /* Tamaño de fuente más pequeño para encabezados h5 */
}

.custom-link {
  display: inline-block;
  padding: 10px;
  background-color: red;
  color: white;
  text-decoration: none;
  border-radius: 0;

}

@media (max-width: 768px) {
  .p-z {
      font-size: 12px;
      /* Tamaño de fuente más pequeño para dispositivos móviles */
  }

  .h2-z {
      font-size: 16px;
      /* Tamaño de fuente más pequeño para dispositivos móviles */
  }

  .custom-link {
      padding: 8px;
      /* Espaciado interno más pequeño para dispositivos móviles */
  }
}

.float-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.float-button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  text-align: center;
  background-image: url('../img/serviceIcon.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-decoration: none;
  border-radius: 0;
  transition: background-color 0.3s ease;
}

.float-button-link:hover {
  display: inline-block;

}

@media (max-width: 767px) {
  .float-button-link {
      width: 60px;
      height: 60px;
      line-height: 60px;
  }
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.carousel-inner {
  text-align: center;
}

.carousel-item {
  display: inline-block;
  width: auto;
  height: auto;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}