/*Main*/
:root {
  --theme-color: white;
  --primary-color: #124f88;
  --secundary-color: #f7c331;
  --text-color-inverse: white;
  --text-color: black;
  --navbar-shallow-color: #e5e5e5;
  --menu-mobile-background-color: #3a4460;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 70px;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: var(--theme-color);
  color: var(--text-color);
  padding-top: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.horizontal-padding {
  padding-left: 25px;
  padding-right: 25px;
}
.vertical-padding {
  padding-top: 25px;
  padding-bottom: 25px;
}

@media (min-width: 950px) {
  .horizontal-padding {
    padding-left: 70px;
    padding-right: 70px;
  }
  .vertical-padding {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*PAGINA*/
.contenedors {
  max-width: 1000px; /* Adjust the max-width value as per your requirement */
  margin: 0 auto;
  padding: 20px; /* Adjust the padding value as per your requirement */
  border-radius: 20px; /* Adds rounded edges to the container */
}

.contenidos {
  text-align: center;
}

@media (max-width: 600px) {
  .contenedors {
    max-width: 90%; /* Adjust the max-width for smaller screens */
  }
}

/*Portada*/
.container-inicio {
  background-image: url('https://images.unsplash.com/photo-1550355291-bbee04a92027?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1936&q=80');
  background-size: cover;
  background-position: center;
  width: 98.9vw;
  height: 550px;
  position: relative;
}

.container-security{
background-image: url('https://images.unsplash.com/photo-1605647381739-9bba88b1c5d1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
background-size: cover;
background-position: center;
width: 98.9vw;
height: 550px;
position: relative;
}

.container-sustentability{
background-image: url('https://plus.unsplash.com/premium_photo-1681987448112-4894d72ee18a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80');
background-size: cover;
background-position: center;
width: 98.9vw;
height: 550px;
position: relative;
}

.container-garanty{
    background-image: url('https://plus.unsplash.com/premium_photo-1661771719168-449af6de4e8f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80');
    background-size: cover;
    background-position: center;
    width: 98.9vw;
    height: 550px;
    position: relative;
}

.container-frenado{
  background-image: url('https://images.unsplash.com/photo-1573939843624-b22996c1a31c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2055&q=80');
  background-size: cover;
  background-position: center;
  width: 98.9vw;
  height: 550px;
  position: relative;
}

.container-estabilidad{
  background-image: url('https://noticias.coches.com/wp-content/uploads/2020/12/Barra-Estabilizadora-5.jpg');
  background-size: cover;
  background-position: center;
  width: 98.9vw;
  height: 550px;
  position: relative;
}

.container-airbags{
  background-image: url('https://images.unsplash.com/photo-1667329916157-a564fc30dd5e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80');
  background-size: cover;
  background-position: center;
  width: 98.9vw;
  height: 550px;
  position: relative;
}

.container-puntoCiego{
  background-image: url('https://images.unsplash.com/photo-1567113463730-77e3df20363c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  background-position: center;
  width: 98.9vw;
  height: 550px;
  position: relative;
}

    .title {
      color: white;
      text-align: left;
      position: absolute;
      left: 20px;
    }
    
    .title-h1 {
      top: 30%;
      font-size: 32px;
      border-left: 3px solid red;
      padding-left: 10px;
    }
    
    .title-h2 {
      top: 50%;
      font-size: 24px;
      margin-top: -12px;
      border-left: 3px solid red;
      padding-left: 10px;
    }

/*Cards*/

.card .contenido-card a{
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}
.card .contenido-card a:hover{
  background: #2fb4cc;
  color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
  .container-card{
    flex-wrap: wrap;
  }
  .card{
    margin: 15px;
  }
}
/*Fin-Cards*/

h4 {
    color: #fff; /* Establecer el color del texto en negro */
    text-align: center; /* Centrar el texto horizontalmente */
    font-size: 24px; /* Tama침o de fuente para el h4 */
    font-weight: bold; /* Establecer el texto en negrita si se desea */
    margin-top: 20px; /* Espacio superior para separar del contenido anterior */
  }


/*Experiences*/
.experiences {
  display: flex;
  flex-direction: column;
}

.experiences-body {
  background-color: var(--primary-color);
  color: var(--text-color-inverse);
}

.wave {
  width: 100%;
  position: relative;
  top: 2px;
}

.wave_bottom {
  transform: scaleY(-1);
  top: -2px;
}

.experiences-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  margin: auto; /* Centrar el encabezado horizontalmente */
  width: 100%; /* Ocupar todo el ancho disponible */ /* Asegurar que el texto sea visible en el fondo oscuro */
}

.experience-date {
  font-size: 25px;
  font-weight: bold;
  color: var(--secundary-color);
}

.experience-company {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 5px;
}

.experience-position {
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}

.experience-description {
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
}

.experience {
  padding: 25px;
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 950px) {
  .experiences-title {
    font-size: 50px;
    margin: 35px 0;
    color: #fff;
  }

  .experience-date {
    font-size: 40px;
  }

  .experience-company {
    font-size: 25px;
  }

  .experience-position {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
  }

  .experience-description {
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.3;
  }

  .experience {
    padding: 0;
  }

  .experience_left {
    text-align: right;
  }

  .experiences-grid {
    display: grid;
    grid-template-columns: auto 2px auto;
    gap: 20px 70px;
    padding: 70px;
    justify-content: center;
    max-width: 980px;
    margin: 0 auto;
  }

  .line {
    background-color: var(--text-color-inverse);
    position: relative;
  }

  .line::before,
  .line::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--text-color-inverse);
    border-radius: 50%;

    position: absolute;
    top: -20px;
    left: -9px;
  }

  .line::after {
    top: 100%;
    z-index: 1;
  }
}

/*Skills*/
.skills {
  max-width: 980px;
  margin: 0 auto;
}

.skills-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #fff; /* Asegurar que el texto sea visible */
}

.skills-titleBLACK {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #000; /* Asegurar que el texto sea visible */
}

.skills-skill {
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 42px;
  padding: 0.5em 0.7em;
  margin: 10px;
}

.skills-list {
  list-style: none;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media(min-width: 950px) {
  .skills-title {
    font-size: 50px;
  }
  
  .skills-skill {
    font-size: 30px;
    margin: 20px;
  }
}

@media(min-width: 950px) {
  .skills-titleBLACK {
    font-size: 50px;
  }
  
  .skills-skill {
    font-size: 30px;
    margin: 20px;
  }
}

  /*Cards*/
  .container-card{
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
  }
  .title-cards{
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #7a7a7a;
  }
  .card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background:#fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease-out;
    cursor: default;
  }
  .card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
  }
  .card img{
    width: 100%;
    height: 210px;
  }
  .card .contenido-card{
    padding: 15px;
    text-align: center;
  }
  .card .contenido-card h3{
    margin-bottom: 15px;
    color: #7a7a7a;
  }
  .card .contenido-card p{
    line-height: 1.8;
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .card .contenido-card a{
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #b12a5b;
    border: 1px solid #b12a5b;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
  }
  .card .contenido-card a:hover{
    background: #b12a5b;
    color: #fff;
  }
  @media only screen and (min-width:320px) and (max-width:768px){
    .container-card{
      flex-wrap: wrap;
    }
    .card{
      margin: 15px;
    }
  }
  /*Fin-Cards*/

  /*Compromiso*/
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  .cards {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(black 50%, red 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }
  .h3 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin: 1em 0;
  }
  .p {
    color: #fff;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  .icon-wrapper {
    background-color: red;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  .blue-card:hover {
    background-position: 0 100%;
  }
  
  .blue-card:hover .icon-wrapper {
    background-color: #ffffff;
    color: red;
  }
  
  .blue-card:hover h3 {
    color: #ffffff;
  }
  
  .blue-card:hover p {
    color: #f0f0f0;
  }
  @media screen and (min-width: 768px) {
    .section {
      padding: 1em 3em;
    }
    .column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    .section {
      padding: 1em 3em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }
  
/* Estilos de la secci칩n de seguridad */
.section {
  padding: 40px;
}

.section-title {
  color: #333;
}

.section-description {
  color: #666;
  line-height: 1.75;
}

.interleaved-list {
  list-style-type: none;
  padding: 0;
}

.interleaved-item {
  background-color: #fff;
  margin-bottom: 10px;
  border: 2px solid black;
}

.interleaved-item:nth-child(even) {
  background-color: #dceaf8;
}

.section-description {    
  color: #666;
  line-height: 1.75;
}

.container-texto {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-image {
  width: 100%;
  height: 400px;
  height: auto;
  border: none;
}

*{margin: 0;padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;}

/*Tablas*/
.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  min-height: calc(100vh - 100px); /* Se ajusta la altura para dejar espacio para el footer */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px; /* Agrega un margen inferior para separar el contenido del footer */
  position: relative; /* Agrega posicionamiento relativo */
}

.tabla{
    width: 25%;
    height: 550px;
    margin: auto;
    border:1px solid #b12a5b;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px  #b12a5b;
    padding: 60px;
    text-align: center;
    flex-grow: 1;
    color: #343759;
}

.tabla>h2{
    font-size:30px;
    margin-bottom:35px;
}

.tabla img{
    width: 64px;
    margin-bottom:35px;
}

.tabla > h3{
    font-size:30px;
    margin-bottom: 20px;
}

.tabla > p{
    display: block;
    margin-bottom:20px;
}

.boton{
    display:inline-block;
    width: 150px;
    padding:12px;
    background: #b12a5b;
    text-decoration: none;
    color: #fff;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin: auto;
}

.tabla:hover{
    background: #b12a5b;
    color: #f1f1f2;
    transition: .5s all;
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .tabla{
        width: 45%;
        max-width:none;
        margin-bottom: 40px;
        flex-grow: initial;
    }
}

@media screen and (max-width: 700px){
    .tabla{
        width: 45%;
        padding:30px;
    }
    .tabla > h2{
        margin-top:40px;
    }
}

@media screen and (max-width:550px){
    .tabla{
        width: 85%;
        padding: 20px;
    }
}

  /*Calcular Precio -Seguridad*/
  .custom-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  .custom-header {
    background-color: #b12a5b;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
  }
  .custom-form-group {
    margin-bottom: 15px;
    color: #fff;
  }
  .custom-label {
    display: block;
    font-weight: bold;
  }
  .custom-input {
    margin-top: 5px;
  }
  .custom-total-cost {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  }
  .form-group {
    margin-bottom: 10px;
  }

  /* Media queries para ajustar estilos en diferentes tama침os de pantalla */
@media screen and (min-width: 768px) {
  /* Estilos para pantallas m치s grandes (768px y superiores) */
  .section {
    padding: 60px;
  }

  .container-texto {
    max-width: 1000px;
  }

  .centered-image {
    max-width: 600px;
  }

  .tabla {
    max-width: 300px;
  }
}

  /*Sustentabilidad - Tarjetas finales*/
  .cards1{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
}
.cards2{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.containers{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
.img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.containers:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
.card1>.containers:after{
    background-image: linear-gradient(
        135deg,
        #ec009d,
        #fb363d
    );
}
.card2>.containers:after{
    background-image: linear-gradient(
        135deg,
        #ffab1d,
        #f8501c
    );
}
.card3>.containers:after{
    background-image: linear-gradient(
        135deg,
        #ec009d,
        #fb363d
    );
}
.details{
    padding: 20px 10px;
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

/*Garantia - tarjeta*/
.contenedor{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.contenedor figure{
 position:relative;
  height: 800px;
  cursor: pointer;
  width: 800px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}
.contenedor figure img{
  width: 100%;
  height: 100%;
  transition: all 400ms ease-out;
  will-change: transform;
}
.contenedor figure .capa{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(223, 8, 8, 0.7);
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
 text-align: center;
}
.contenedor figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}
.contenedor figure:hover > .capa h3{
  margin-top: 70px;
  margin-bottom: 50px;
}
.contenedor figure:hover > img{
  transform: scale(1.3);
}
.contenedor figure .capa h3{
  color: #fff;
  font-weight: 100;
  margin-bottom: 120px;
  transition: all 400ms ease-out;
   margin-top: 30px;
}
.contenedor figure .capa p{
  color: #fff;
  font-size: 30px;
  line-height: 1.5;
  width: 100%;
  max-width: 700px;
  margin: auto;
}