.container-portada {
    background-image: url('../img/portadavehiculo.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 550px;
    position: relative;
  }

.container-portadaBRZ {
    background-image: url('../img/SubaruBRZtarjeta.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 550px;
    position: relative;
  }
.container-portadaWXR {
    background-image: url('../img/SubaruWXRtarjeta.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 550px;
    position: relative;
  }
.container-portadaGTR {
    background-image: url('../img/nissanGTRtarjeta.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 550px;
    position: relative;
  }
.container-portada370Z {
    background-image: url('../img/nissan370Ztarjeta.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 550px;
    position: relative;
  }


.h1 {
    top: 70%;
    font-size: 60px;
    border-left: 5px solid red;
    /* Agregar una línea roja a la izquierda */
    padding-left: 10px;
    /* Espacio entre la línea y el texto */
    color: white;
    text-align: left;
    /* Alinear el texto a la izquierda */
    position: absolute;
    left: 20px;
    /* Ajustar la posición hacia la izquierda */
}

h4 {
    color: black; /* Establecer el color del texto en negro */
    text-align: center; /* Centrar el texto horizontalmente */
    font-size: 24px; /* Tamaño de fuente para el h4 */
    font-weight: bold; /* Establecer el texto en negrita si se desea */
    margin-top: 20px; /* Espacio superior para separar del contenido anterior */
  }

/*Cards*/
.grid-layout {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 65%;
    margin: 0 auto;
}

/*.barranav{
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: left;
    height: 85px;
    padding: 3px 2%;
    margin: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 50; //Altura de la barra de navegación contraída
    transition: top 0.3s;
}

  .barranav.scrolled {
    top: 0; // Altura de la barra de navegación contraída
  }

/* Estilo para la barra de navegación que se mantendrá en la parte superior */

.barranav {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: left;
    height: 55px;
    padding: 3px 2%;
    margin: 0;
    background-color: #fff;
    z-index: 9999;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.barranav .nav-links {
    list-style: none;
}

.barranav .nav-links li {
    display: inline-block;
    padding: 0 60px;
}

.barranav .nav-links ol {
    display: inline-block;
    padding: 0 3px;
    font-size: 30px;
}

.barranavLi {
    display: inline-block;
    padding: 0;
}

.barranav .nav-links li:hover {
    transform: scale(1.1);
}

.barranav .nav-links a {
    font-size: 700;
    color: #2F2F30;
    text-decoration: none;
}

.barranav .nav-links li a:hover {
    color: #ffbc0e;
}

.barranav .btn button {
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.barranav .btn button:hover {
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}


  